<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocalización con Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="latitud_promesa != 0 && longitud_promesa != 0">
    <h1>Posicion con Promesa</h1>
    <p>
      <strong>Latitud:</strong> {{latitud_promesa}}
      <br>
      <strong>Longitud:</strong> {{longitud_promesa}}
    </p>
  </div>

  <div *ngIf="latitud_observable != 0 && longitud_observable != 0">
    <h1>Posicion Observable</h1>
    <p>
      <strong>Latitud:</strong> {{latitud_observable}}
      <br>
      <strong>Longitud:</strong> {{longitud_observable}}
    </p>
  </div>
  <ion-button color="primary" expand="block" (click)="getPosition()">Get Position</ion-button>
  <ion-button color="secondary" expand="block" (click)="watchPosition()">Watch Position</ion-button>
</ion-content>
